<div class="row justify-content-between mb-4">
    <div class="col-4">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (ngModelChange)="filterPrescriptions()"
        class="form-control"
        placeholder="Search prescriptions..."
      />
    </div>
    <div class="col-4">
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#eyeWearModal"
        class="btn btn-primary float-end"
        (click)="openAddModal()"
      >
        <i class="bi bi-plus-lg"></i> Add Prescription
      </button>
    </div>
  </div>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Emp</th>
        <th>Prescription Details</th>
        <th>Far</th> <!-- New Field -->
        <th>Near</th> <!-- New Field -->
        <th>PS</th> <!-- New Field -->
        <th>BF</th> <!-- New Field -->
        <th>Prog</th> <!-- New Field -->
        <th>SR</th> <!-- New Field -->
        <th>RP</th> <!-- New Field -->
        <th>GF</th> <!-- New Field -->
        <th>HI</th> <!-- New Field -->
        <th>Ac</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prescription of filteredPrescriptions">
        
        <td>{{ employeeNameMap.get(prescription.employeeId) }}</td>
        <td>
          <strong>Right Eye</strong>
          <br>
          <table>
            <tr>
              <td>Distant&nbsp;</td>
              <td>Sph-{{  prescription.rightEyeSphDistant }}&nbsp;</td>
              <td>Cyl-{{ prescription.rightEyeCylDistant }}&nbsp;</td>
              <td>Axis-{{ prescription.rightEyeAxisDistant }}</td>
            </tr>
            
            <tr>
              <td>Close</td>
              <td>Sph-{{ prescription.rightEyeSphClose }}&nbsp;</td>
              <td>Cyl-{{ prescription.rightEyeCylClose }}&nbsp;</td>
              <td>Axis-{{ prescription.rightEyeAxisClose }}</td>
            </tr>
          </table>
          <hr>
          <strong>Left Eye</strong>
          
          <table>
            <tr>
              <td>Distant&nbsp;</td>
              <td>Sph-{{ prescription.leftEyeSphDistant }}&nbsp;</td>
              <td>Cyl-{{ prescription.leftEyeCylDistant }}&nbsp;</td>
              <td>Axis-{{ prescription.leftEyeAxisDistant }}</td>
            </tr>
            
            <tr>
              <td>Close</td>
              <td>Sph-{{ prescription.leftEyeSphClose }}&nbsp;</td>
              <td>Cyl-{{ prescription.leftEyeCylClose }}&nbsp;</td>
              <td>Axis-{{ prescription.leftEyeAxisClose }}</td>
            </tr>
          </table>
        </td>
        <td>{{ prescription.far }}</td> <!-- Displaying Far -->
        <td>{{ prescription.near }}</td> <!-- Displaying Near -->
        <td>{{ prescription.photoSolar ? 'Yes' : 'No' }}</td> <!-- Displaying PhotoSolar -->
        <td>{{ prescription.bifocal ? 'Yes' : 'No' }}</td> <!-- Displaying Bifocal -->
        <td>{{ prescription.progressive ? 'Yes' : 'No' }}</td> <!-- Displaying Progressive -->
        <td>{{ prescription.scratchResistant ? 'Yes' : 'No' }}</td> <!-- Displaying Scratch Resistant -->
        <td>{{ prescription.resinPlastic ? 'Yes' : 'No' }}</td> <!-- Displaying Resin Plastic -->
        <td>{{ prescription.glareFree ? 'Yes' : 'No' }}</td> <!-- Displaying Glare Free -->
        <td>{{ prescription.hiIndex ? 'Yes' : 'No' }}</td> <!-- Displaying Hi-Index -->
        
        <td>
          <i  
            data-bs-toggle="modal"
            data-bs-target="#eyeWearModal"
            class="bi bi-pencil-square icon-edit" 
            (click)="openEditModal(prescription)"></i>
          <i class="bi bi-trash icon-delete" (click)="deletePrescription(prescription.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  
  
  <!-- Pagination controls -->
  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  
  <div
    class="modal fade"
    id="eyeWearModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            {{ modalTitle }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="modalClose()"
            id="pre-modal-close"
          ></button>
        </div>
  
        <div class="modal-body">
          <app-eye-wear-form
            [prescription]="eyewearcheckupList"
            *ngIf="activateyewearformComponent"
          >
          </app-eye-wear-form>
        </div>
      </div>
    </div>
  </div>
  