<header
  id="header"
  class="header fixed-top d-flex align-items-center bg-primary"
>
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/dashboard" class="logo d-flex align-items-center">
      <!-- <img src="assets/img/logo1.jpg" alt="" /> -->
      <span class="d-none d-lg-block text-white">HMS</span>
    </a>
    <i
      (click)="sidebarToggle()"
      class="bi bi-list toggle-sidebar-btn text-white"
    ></i>
  </div>
  <div class="search-bar">
    <form
      class="search-form d-flex align-items-center"
      method="POST"
      action="#"
    >
      <input
        type="text"
        name="query"
        placeholder="Search"
        title="Enter search keyword"
      />
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div>
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle" href="#">
          <i class="bi bi-search"></i>
        </a>
      </li>
      <li class="nav-item">
        <select class="form-select" (change)="changeLanguage($event)" name="" id="">
          <option [selected]="lang==='en'" value="en">English</option>
          <option [selected]="lang==='am'" value="am">አማርኛ</option>
          <option [selected]="lang==='fr'" value="fr">French</option>
      </select>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link nav-icon bg-hover rounded-2"
          href="#"
          data-bs-toggle="dropdown"
        >
          <i class="bi bi-bell text-white"></i>
          <span
            *ngIf="notificationMessages.length >= 1"
            class="badge bg-danger badge-number"
            >{{ notificationMessages.length }}</span
          >
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications"
        >
          <li class="dropdown-header">
            You have {{ notificationMessages.length }} new notifications
            <a
              routerLink="notification-messages"
              (click)="getNotificationMessage()"
              ><span class="badge rounded-pill bg-primary p-2 ms-2"
                >View all</span
              ></a
            >
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li
            *ngFor="let item of notificationMessages"
            class="notification-item"
            style="cursor: pointer"
            routerLink="notification-messages/{{ item.id }}"
            (click)="updateNotificationStatus(item)"
          >
            <i class="bi bi-exclamation-circle text-primary"></i>
            <div>
              <h4>{{ item.heading }}</h4>
              <p
                class="fw-bolder d-inline-block text-truncate"
                style="max-width: 200px"
              >
                {{ item.description }}
              </p>
              <p>{{ item.date | date : "mm" }} min. ago</p>
            </div>
          </li>
          <li
            class="notification-item"
            *ngIf="notificationMessages.length == 0"
          >
            <h5 class="text-center">Empty !!!</h5>
          </li>
          <!-- <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="notification-item">
            <i class="bi bi-x-circle text-danger"></i>
            <div>
              <h4>Atque rerum nesciunt</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>1 hr. ago</p>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="notification-item">
            <i class="bi bi-check-circle text-success"></i>
            <div>
              <h4>Sit rerum fuga</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>2 hrs. ago</p>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="notification-item">
            <i class="bi bi-info-circle text-primary"></i>
            <div>
              <h4>Dicta reprehenderit</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>4 hrs. ago</p>
            </div>
          </li> -->
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="dropdown-footer">
            <a routerLink="notification-messages">Show all notifications</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          *ngIf="notificationMessages.length >= 1"
          class="nav-link nav-icon bg-hover rounded-2"
          data-bs-toggle="dropdown"
        >
          <i class="bi bi-chat-left-text text-white"></i>
          <span class="badge bg-success badge-number">{{
            messages.length
          }}</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages"
        >
          <li class="dropdown-header">
            You have {{ messages.length }} new messages
            <a routerLink="messages"
              ><span class="badge rounded-pill bg-primary p-2 ms-2"
                >View all</span
              ></a
            >
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="message-item">
            <a href="#">
              <img
                src="assets/img/messages-1.jpg"
                alt=""
                class="rounded-circle"
              />
              <div>
                <h4>Jassa</h4>
                <p>
                  Velit asperiores et ducimus soluta repudiandae labore officia
                  est ut...
                </p>
                <p>4 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="message-item">
            <a href="#">
              <img
                src="assets/img/messages-2.jpg"
                alt=""
                class="rounded-circle"
              />
              <div>
                <h4>Jassa</h4>
                <p>
                  Velit asperiores et ducimus soluta repudiandae labore officia
                  est ut...
                </p>
                <p>6 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="message-item">
            <a href="#">
              <img
                src="assets/img/messages-3.jpg"
                alt=""
                class="rounded-circle"
              />
              <div>
                <h4>Jassa</h4>
                <p>
                  Velit asperiores et ducimus soluta repudiandae labore officia
                  est ut...
                </p>
                <p>8 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="dropdown-footer"><a href="#">Show all messages</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown pe-3">
        <a
          class="nav-link nav-profile d-flex align-items-center pe-0"
          href="#"
          data-bs-toggle="dropdown"
        >
          <img
            src="assets/img/profile-img.jpg"
            alt="Profile"
            class="rounded-circle"
          />
          <span class="d-none d-md-block dropdown-toggle ps-2 text-white" *ngIf="userRole !== 'Patient'">{{
            employee.firstName
          }}</span>
          <span class="d-none d-md-block dropdown-toggle ps-2 text-white" *ngIf="userRole == 'Patient'">
            Patient</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6 *ngIf="userRole !== 'Patient'">{{ employee.firstName + " " + employee.lastName }}</h6>
            <h6 *ngIf="userRole == 'Patient'">Patient</h6>
            <span *ngIf="userRole !== 'Patient'">{{ employeeRole.name }}</span>
            <span *ngIf="userRole == 'Patient'">
              Patient</span>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="/employee-profile/{{ employee.id }}"
            >
              <i class="bi bi-person" *ngIf="userRole !== 'Patient'"></i> <span *ngIf="userRole !== 'Patient'">My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="/employee-profile/{{ employee.id }}"
            >
              <i class="bi bi-gear" *ngIf="userRole !== 'Patient'"></i> <span *ngIf="userRole !== 'Patient'">Account Settings</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="/pages-faq"
            >
              <i class="bi bi-question-circle"></i> <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              style="cursor: pointer"
              (click)="authService.employeeLogout()"
            >
              <i class="bi bi-box-arrow-right"></i> <span>Sign Out</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
