<main id="main" class="main">
  <div class="pagetitle">
    <h1>Notice</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Notice</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card overflow-auto">
          <div class="card-body">
            <button
              *ngIf="employeeRole.name == 'Admin'"
              type="button"
              class="btn btn-primary float-end m-2"
              data-bs-toggle="modal"
              data-bs-target="#noticeStaticBackdrop"
              (click)="modalAdd()"
            >
              Add Notice
            </button>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>NoticeBoard</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of noticeList$ | async">
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.description }}</td>
                  <td>{{ item.noticeBoard }}</td>
                  <td>{{ item.date | date : "medium" }}</td>
                  <td>
                    <i
                      *ngIf="employeeRole.name == 'Admin'"
                      (click)="modalEdit(item)"
                      data-bs-toggle="modal"
                      data-bs-target="#noticeStaticBackdrop"
                      class="bi bi-pencil-square icon-edit"
                    ></i>
                    <i
                      *ngIf="employeeRole.name == 'Admin'"
                      (click)="delete(item)"
                      class="bi bi-trash icon-delete"
                    ></i>
                    <i
                      [routerLink]="['/view-notice-detail/', item.id]"
                      class="bi bi-eye icon-edit"
                    >
                    </i>
                  </td>
                </tr>
              </tbody>
            </table>

            <div
              class="modal fade"
              id="noticeStaticBackdrop"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="staticBackdropLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog rounded-1 border border-0">
                <div class="modal-content">
                  <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="staticBackdropLabel">
                      {{ modalTitle }}
                    </h5>
                    <button
                      type="button"
                      class="btn bg-white rounded-circle btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                      (click)="modalClose()"
                      id="notice-modal-close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <app-notice-form
                      [notice]="notice"
                      *ngIf="activateAddEditNoticeComponent"
                    ></app-notice-form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
