<form>
    <div class="mb-3">
        <label class="col-sm-5 col-form-label">Employee</label>
        <div class="col-sm-12">
            <select id="employeeId" [(ngModel)]="employeeId" name="employeeId">
                <option
                  *ngFor="let item of getEmployeeList$ | async as list"
                  value="{{ item.id }}"
                  >{{ item.firstName + " " + item.middleName }}</option
                >
              </select>
        </div>
    </div>
    <div class="mb-3">
        <label class="col-sm-5 col-form-label">Patient</label>
        <div class="col-sm-12">
            <select [(ngModel)]="patientId" name="patientId">
                <option *ngFor="let item of getPatientList$|async" [value]="item.id">{{item.firstName}}</option>
            </select>
        </div>
    </div>
  
    <div class="mb-3">
        <label for="name" class="form-label">Date</label>
        <input type="datetime-local" class="form-control" [(ngModel)]="date" name="date">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" [(ngModel)]="description" name="description">
    </div>
    <div class="text-center float-end justify-right">
        <button
          (click)="addDeath()"
          *ngIf="deathList.id == 0"
          class="btn btn-primary"
        >
          Save
        </button>
        <button type="reset" *ngIf="deathList.id == 0" class="btn btn-info ms-3">
          Reset
        </button>
        <button
          (click)="updateDeath()"
          *ngIf="deathList.id != 0"
          class="btn btn-primary"
        >
          Update
        </button>
        <button type="reset" *ngIf="deathList.id != 0" class="btn btn-info ms-3">
          Reset
        </button>
      </div>
</form>
