<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <a
                routerLink="/login"
                class="logo d-flex align-items-center w-auto"
              >
                <img src="assets/img/logo.png" alt="hospital logo" />
                <span class="d-none d-lg-block">Admin</span>
              </a>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Login to Your Account
                  </h5>
                  <p class="text-center small">
                    Select your role and enter your credentials to login
                  </p>
                </div>

                <!-- Role Selection Section -->
                <div class="row mb-3">
                  <div class="col-12 d-flex justify-content-center gap-3">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="userRole"
                        id="patientRole"
                        [value]="'patient'"
                        [(ngModel)]="selectedRole"
                        (change)="onRoleChange()"
                      />
                      <label class="form-check-label" for="patientRole">
                        Patient
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="userRole"
                        id="employeeRole"
                        [value]="'employee'"
                        [(ngModel)]="selectedRole"
                        (change)="onRoleChange()"
                      />
                      <label class="form-check-label" for="employeeRole">
                        Employee
                      </label>
                    </div>
                  </div>
                </div>

                <form class="row g-3" [formGroup]="loginForm" (ngSubmit)="loginUser()">
                  <!-- Employee Fields -->
                  <ng-container *ngIf="selectedRole === 'employee'">
                    <div class="col-lg-12">
                      <label for="youremailAddress" class="form-label">Email Address</label>
                      <div class="input-group">
                        <input
                          type="email"
                          formControlName="emailAddress"
                          class="form-control"
                          id="youremailAddress"
                          [ngClass]="{
                            'is-invalid': submitted && controls['emailAddress'].errors
                          }"
                        />
                        <div
                          class="invalid-feedback"
                          *ngIf="submitted && controls['emailAddress'].errors"
                        >
                          Invalid email address
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <div class="input-group mb-3">
                        <input
                          [type]="type"
                          formControlName="password"
                          class="form-control"
                          id="yourPassword"
                          [ngClass]="{
                            'is-invalid': submitted && controls['password'].errors
                          }"
                        />
                        <i
                          class="bi bi-{{ eyeIcon }} input-group-text"
                          (click)="showHidePass()"
                        ></i>
                        <div
                          class="invalid-feedback"
                          *ngIf="submitted && controls['password'].errors"
                        >
                          Password is required
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <!-- Patient Fields -->
                  <ng-container *ngIf="selectedRole === 'patient'">
                    <div class="col-lg-12">
                      <label for="patientId" class="form-label">Patient ID</label>
                      <div class="input-group">
                        <input
                          type="text"
                          formControlName="patientId"
                          class="form-control"
                          id="patientId"
                          [ngClass]="{
                            'is-invalid': submitted && controls['patientId'].errors
                          }"
                        />
                        <div
                          class="invalid-feedback"
                          *ngIf="submitted && controls['patientId'].errors"
                        >
                          Please enter a valid Patient ID
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <div class="col-lg-12">
                    <button
                      class="btn btn-primary w-100"
                      [disabled]="loginForm.invalid"
                      type="submit"
                    >
                      Login
                    </button>
                  </div>
                  
                  <!-- Show forgot password only for employees -->
                  <div class="col-12" *ngIf="selectedRole === 'employee'">
                    <p class="small mb-0">
                      <a routerLink="/forgot-password">Forgot Password?</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
            <div class="credits">
              Loved by <span>NeHMS</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
