<form #medForm="ngForm">
  <div class="mb-3">
    <label for="name" class="form-label">Medicine Category</label>
    <select
      id="medicineCategoryId"
      [(ngModel)]="medicineCategoryId"
      name="medicineCategoryId"
    >
      <option
        *ngFor="let item of medicineCategoryId$ | async as list"
        selected
        value="{{ item.id }}"
        >{{ item.name }}</option
      >
    </select>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Medicine Name</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="name"
      name="name"
      pattern="[a-zA-Z\s]+$"
      minlength="3"
      #MedName="ngModel"
    />
    <span
      class="text-danger"
      *ngIf="(MedName.touched || medForm.submitted) && MedName.invalid"
    >
      Please enter a valid input
    </span>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="description"
      name="description"
    />
  </div>
  <button
    (click)="addMedication()"
    *ngIf="medicationList.id == 0"
    class="btn btn-primary"
    [disabled]="medForm.invalid"
  >
    Add
  </button>
  <button
    (click)="updateMedication()"
    *ngIf="medicationList.id != 0"
    class="btn btn-primary"
    [disabled]="medForm.invalid"
  >
    Update
  </button>
</form>
