<form>
  <div class="mb-3">
    <label class="col-sm-5 col-form-label">Doctors</label>
    <div class="col-sm-12">
      <select [(ngModel)]="employeeId" name="employeeId">
        <option
          *ngFor="let item of getEmployeeList$ | async"
          [value]="item.id"
          >{{ item.firstName }}</option
        >
      </select>
    </div>
  </div>
  <div class="mb-3">
    <label class="col-sm-5 col-form-label">Patient Schedule</label>
    <div class="col-sm-12">
      <select
        id="patientScheduleId"
        [(ngModel)]="patientScheduleId"
        name="patientScheduleId"
      >
        <option
          *ngFor="let item of getPatientScheduleIdList$ | async as list"
          value="{{ item.id }}"
          >{{ item.id }}</option
        >
      </select>
    </div>
  </div>
  <div class="mb-3">
    <label class="col-sm-5 col-form-label">Service Charge Id</label>
    <div class="col-sm-12">
      <select
        id="serviceChargeId"
        [(ngModel)]="serviceChargeId"
        name="serviceChargeId"
      >
        <option
          *ngFor="let item of getServiceChargeIdList$ | async as list"
          [value]="item.id"
          >{{ item.name }}</option
        >
      </select>
    </div>
  </div>

  <div class="mb-3">
    <label for="date" class="form-label">date</label>
    <input
      type="datetime-local"
      class="form-control"
      [(ngModel)]="date"
      name="date"
    />
  </div>

  <div class="text-center float-end">
    <button
      (click)="addBillSchedules()"
      *ngIf="billSchedulesList.id == 0"
      class="btn btn-primary"
    >
      Save
    </button>
    <button
      type="reset"
      *ngIf="billSchedulesList.id == 0"
      class="btn btn-info ms-3"
    >
      Reset
    </button>
    <button
      (click)="updateBillSchedules()"
      *ngIf="billSchedulesList.id != 0"
      class="btn btn-primary"
    >
      Update
    </button>
    <button
      type="reset"
      *ngIf="billSchedulesList.id != 0"
      class="btn btn-info ms-3"
    >
      Reset
    </button>
  </div>
</form>
