<form #wardForm="ngForm">
    <div class="mb-3">
        <label for="name" class="form-label">Ward Type Name</label>
        <input 
        type="text" 
        class="form-control"
         [(ngModel)]="name" 
         name="name"
         pattern="[a-zA-Z\s]+$"
         minlength="2"
        #Name="ngModel"
         />
         <span
        class="text-danger"
        *ngIf="(Name.touched ||  wardForm.submitted) && Name.invalid"
      >
        Please enter a valid input
      </span>
    </div>
    <div class="mb-3">
        <label for="code" class="form-label">Ward Type Price</label>
        <input type="number" class="form-control" [(ngModel)]="price" name="price">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" [(ngModel)]="description" name="description">
    </div>
    <button (click)="addWardType()" *ngIf="wardType.id==0" class="btn btn-primary">
        Add
    </button>
    <button (click)="updateWardType()" *ngIf="wardType.id!=0" class="btn btn-primary">
        Update
    </button>
</form>