<main id="main" class="main">
  <div class="pagetitle">
    <h1>Email - SMS</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Settings</li>
        <li class="breadcrumb-item active">Email - SMS</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title">Email/SMS</h5>
              </div>
              <div class="col">
                <button
                  type="button"
                  class="btn btn-primary float-end mt-3"
                  data-bs-toggle="modal"
                  data-bs-target="#allowanceDeduction"
                  (click)="modalAddEmail()"
                >
                  + Email
                </button>
              </div>
              <div class="col">
                <button
                  type="button"
                  class="btn btn-primary float-end mt-3"
                  data-bs-toggle="modal"
                  data-bs-target="#allowanceDeduction"
                  (click)="modalAddSMS()"
                >
                  + SMS
                </button>
              </div>
            </div>
            <!-- <div class="row justify-content-between">
              <div class="col-2 mb-3">
                <select
                  (change)="onTableSizeChange($event)"
                  class="form-select mt-2"
                  id="pagination"
                >
                  <option *ngFor="let size of tableSizes">{{ size }}</option>
                </select>
              </div>
              <div class="col-4 mb-3">
                <label for="total-revenue" class="mt-3 h6"
                  >Total Allowance deduction
                  <strong class="total-num">{{
                    allowanceDeductionList$.length
                  }}</strong></label
                >
              </div>
              <div class="col-4 mb-3">
                <input
                  type="text"
                  id="search"
                  name="searchName"
                  [(ngModel)]="searchName"
                  class="form-control mt-2"
                  (ngModelChange)="searchByName()"
                  placeholder="Search here ..."
                />
              </div>
            </div> -->
            <!-- <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Employee</th>
                  <th>Month</th>
                  <th>Year</th>
                  <th>Fixed Amount</th>
                  <th>Deduction Type</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of allowanceDeductionList$
                      | orderBy : key : reverse
                      | filter : searchName
                      | paginate
                        : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          }
                  "
                >
                  <td>{{ item.id }}</td>
                  <td>
                    <a [routerLink]="['/employee-details/', item.employeeId]">{{
                      employeeListMap.get(item.employeeId)
                    }}</a>
                  </td>
                  <td>{{ item.month | date : "MMMM" }}</td>
                  <td>{{ item.year | date : "y" }}</td>
                  <td>{{ item.fixedAmount }}</td>
                  <td>
                    {{
                      allowanceDeductionTypeMap.get(
                        item.allowanceDeductionTypeId
                      )
                    }}
                  </td>
                  <td>
                    <i
                      (click)="modalEdit(item)"
                      data-bs-toggle="modal"
                      data-bs-target="#allowanceDeduction"
                      class="bi bi-pencil-square icon-edit"
                    ></i>
                    <i
                      (click)="delete(item)"
                      class="bi bi-trash icon-delete"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls
              (pageChange)="onTableDataChange($event)"
            ></pagination-controls> -->
            <!--
            <div
              class="modal fade"
              id="allowanceDeduction"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="allowanceDeductionLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="allowanceDeductionLabel">
                      {{ modalTitle }}
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                      (click)="modalClose()"
                      id="allowance-deduction-modal-close"
                    ></button>
                  </div>

                  <div class="modal-body">
                    <app-add-edit-allowance-deduction
                      [allowanceDeductionList]="allowanceDeductionList"
                      *ngIf="activateAllowanceDeductionComponent"
                    >
                    </app-add-edit-allowance-deduction>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
